@import '../../scss/variables.scss';

// ::-webkit-scrollbar {
//     width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background-color: #E7F6FF;
//     border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: #888;
//     border-radius: 10px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #555;
// }

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all .1s ease-in-out;
    opacity: 0;
    overflow: hidden;

    &Visible {
        visibility: visible;
        opacity: 1;

        .drawer {
            transform: translateX(0);
        }
    }

}

.drawer {
    position: absolute;
    width: 385px;
    right: 0;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, .1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transform: translateX(100%);
    transition: all .3s ease-in-out;

    .cardHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .buttonCancel {
            padding: 8px 10px;
            border: 1px solid $grey-950;
            border-radius: 8px;


            .cancel {
                rotate: 45deg;
            }
        }


        h2 {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
        }
    }



    .cartItems {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        margin-bottom: 40px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 10px;
            margin-left: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #999;
            border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #777;
        }
    }


    .cartFooter {
        display: flex;
        flex-direction: column;
        gap: 24px;


        .cartSubmit {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                gap: 8px;

                span {
                    line-height: 19px;
                    color: #000000;
                }

                div {
                    flex: 1;
                    height: 1px;
                    border-bottom: 1px dashed $grey-850;
                    position: relative;
                    top: -4px;
                }

                b {
                    font-weight: 600;
                    line-height: 19px;
                    color: #000000;
                }
            }


        }
    }



    .buttonSubmit {
        background-color: #9DD558;
        border-radius: 18px;
        padding: 18px;
        transition: background-color .2s ease-in-out;
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        width: 100%;

        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
        }

        .arrowRight {
            transition: transform .2s ease-in-out;
        }

        &:disabled {
            background-color: #a9ada5;
            cursor: default !important;
        }

        &:hover .arrowRight {
            transform: translateX(5px);
        }

        &:hover {
            background-color: lighten(#9DD558, 5%);

        }

        &:active {
            background-color: darken(#9DD558, 5%);
        }
    }



}